/* -------------- MAIN GRID STYLES ---------------- */
.intro {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.people {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 25px;
}

.people > div {
    display: flex;
    justify-content: center;
    width: 500px;
}

h2 {
    color: steelblue;
    font-family: 'Lobster', cursive;
    font-size: 42px;
}

/* -------------- END OF MAIN GRID STYLES ---------------- */

/* -------------- GRID ITEM STYLES ---------------- */

.person-listing {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 462px;
    transition: background .5s;
    width: 400px;
}

.person-listing:hover {
    background: #fff;
    transition: background .5s;
}

img {
    height: 250px;
    width: 250px;
}

h3 {
    color: #444;
}

h3 {
    font-family: 'Anton', sans-serif;
}

p {
    font-family: 'Inconsolata', monospace;
}

.info {
    align-items: center;
    bottom: 114px;
    color: transparent;
    display: flex;
    flex-direction: column;
    position: relative;
    transition: color .1s, bottom .25s;
}

.hovered h3 {
    color: steelblue;
}

.hovered .info {
    bottom: 0;
    color: #444;
    transition: color .75s, bottom .25s;
}

/* -------------- END OF GRID ITEM STYLES ---------------- */