<div class="intro">
    <h2>FindEm</h2>
    <p>
        <input type="text" [(ngModel)]="search" />
        <button (click)="getPeople()">{{ search === '' ? 'Show Everyone' : 'Find Someone' }}</button>
    </p>
</div>
<div class="people">
    <div *ngFor="let person of people" [class.hovered]="person === hoveredPerson">
        <div class="person-listing" (mouseenter)="onHover(person)" (mouseleave)="onHover(null)">
            <h3>{{ person.FirstName + ' ' + person.LastName }}</h3>
            <img src="{{ person.ImagePath }}" />
            <div class="info">
                <p>{{ person.Age }} years old</p>
                <p>Address: {{ person.Address }}</p>
                <p>Interests: {{ person.Interests }}</p>
            </div>
        </div>
    </div>
</div>