<div class="intro">
    <h2>FindEm</h2>
    <p>
        <input type="text" [(ngModel)]="search" (mouseenter)="onMouseLeave()" (keyup.enter)="getPeople()"/>
        <button (click)="getPeople()" (mouseenter)="onMouseLeave()">{{ search === '' ? 'Show Everyone' : 'Find Someone' }}</button>
    </p>
</div>
<div class="people" [class.loaded]="loaded">
    <div *ngFor="let person of people" [class.hovered]="person === hoveredPerson">
        <div class="person-listing" (mouseenter)="onHover(person)" (mouseleave)="onHover(null)">
            <h3>{{ person.FirstName + ' ' + person.LastName }}</h3>
            <img src="{{ person.ImagePath }}" />
            <div class="info">
                <p>{{ person.Age }} years old</p>
                <p>Address: {{ person.Address }}</p>
                <p>Interests: {{ person.Interests }}</p>
            </div>
        </div>
    </div>
</div>
<div class="loading-component" [class.loaded]="loaded" (mousemove)="onMouseMove($event)" (mouseleave)="onMouseLeave()">
    <svg style.left="{{ coordinates[0] - 15 }}px" style.top="{{ coordinates[1] - 170 }}px" xmlns="http://www.w3.org/2000/svg" width="79" height="97">
        <circle fill="none" stroke="tomato" cx="45" cy="34" r="32" stroke-width="4" />
        <path fill="tomato" d="m22,57 12,7-21,31a2,1 28 0,1-12-8" />
        <path fill="tomato" opacity=".3" d="m43,9a21,9 9 1,0 2,0" />
    </svg>
</div>