.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.people {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 25px;
}

.people > div {
    display: flex;
    justify-content: center;
    width: 500px;
}

person-listing {
    align-items: center;
    display: flex;
    flex-direction: column;
    transition: background .5s;
    width: 400px;
}

person-listing:hover {
    background: #fff;
    transition: background .5s;
}


h2 {
    color: steelblue;
    font-family: 'Lobster', cursive;
    font-size: 42px;
}